// background & player color
$bgBlue: #0d60ab;
$boardBlue: rgb(56, 152, 222);
$navy: rgb(55, 64, 233);
$darkNavy: rgb(3, 2, 86);
$pupleBlue: rgb(146, 168, 233);
$blue: rgb(65, 147, 227);
$skyBlue: #87c1e4;
$whiteBlue: #b3eeff;
$nameYellow: #faf076;
$buttonBlue: #1ab1f7;
$painterPink: #ebb5fb;

// paint color
$white: #f2f2eb;
$black: #031b29;
$lightYellow: #fff7ad;
$lightGreen: #d6e79b;
$lightPink: #e9bbbd;
$borderGrey: #838284;
$borderOrange: #ea872d;
$textBlue: #0018b6;
$textBgBlue: #61bcfc;
