// Config
@import url("https://fonts.googleapis.com/css2?family=Changa+One&family=Gochi+Hand&family=Gothic+A1:wght@400;700&family=Squada+One&display=swap");
@import "variables.scss";
@import "reset.scss";

// Components
@import "components/header.scss";
@import "components/login.scss";
@import "components/notification.scss";
@import "components/paint.scss";
@import "components/player.scss";

/*
한글
font-family: 'Gothic A1', sans-serif;
닉네임
font-family: 'Gochi Hand', cursive;
등급
font-family: 'Changa One', cursive; 
페인트보드
font-family: 'Squada One', cursive;
*/

* {
  box-sizing: border-box;
  font-family: "Gothic A1", sans-serif;
}
button:focus {
  outline: none;
}
html {
  height: 100%;
}
body {
  background-color: $bgBlue;
  min-height: 100%;
  header,
  .login-box,
  .game-container {
    display: none;
  }
  &.logged-out {
    display: flex;
    justify-content: center;
    align-items: center;
    .login-box {
      display: block;
    }
  }
  &.logged-in {
    header {
      display: block;
      background-color: white;
    }
    .game-container {
      display: block;
    }
  }
}
main {
  position: relative;
}

.hidden {
  display: none;
}
.disable {
  opacity: 0;
  * {
    cursor: unset !important;
  }
}
