// $greyColor: #f5f8fc;
// $black: #2c2c2c;
// $red: rgb(255, 59, 48);
// $orange: rgb(255, 149, 0);
// $yellow: rgb(255, 204, 0);
// $green: rgb(76, 217, 100);
// $lightBlue: rgb(90, 200, 250);
// $darkBlue: rgb(0, 122, 255);
// $purple: rgb(88, 86, 214);
// $boxShadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

// $new-greyColor: #f2f2eb;
// $new-black: #031b29;
// $new-red: #f81941;
// $new-yellow: #f7c923;
// $new-green: #80a11d;
// $new-lightBlue: #4292df;

// background color
$bgBlue: #0d60ab;
$boardBlue: rgb(56, 152, 222);
$navy: rgb(55, 64, 233);
$darkNavy: rgb(3, 2, 86);
$pupleBlue: rgb(146, 168, 233);
$blue: rgb(65, 147, 227);
$skyBlue: #87c1e4;
$whiteBlue: #b3eeff;
$nameYellow: #faf076;
$buttonBlue: #1ab1f7;

// paint color
$white: #f2f2eb;
$black: #031b29;
