.paint {
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
  padding: 3px 25px 15px;
  border-radius: 15px;
  background-color: $boardBlue;
  text-align: center;
  > div {
    display: flex;
  }
}
.paint__answer {
  margin: 3px;
  width: 100%;
  min-height: 31px;
  justify-content: center;
  span {
    border-radius: 30px;
    padding: 7px 10px 5px;
    background-color: $skyBlue;
    color: $textBlue;
    font-size: 19px;
    font-weight: 700;
  }
}
.paint__canvas {
  position: relative;
  canvas {
    margin: 3px 0;
    background-color: $white;
  }
}
.paint__word {
  position: absolute;
  top: 30px;
  left: 30px;
  border-radius: 20px;
  width: 180px;
  display: flex;
  align-items: center;
  background-color: $borderOrange;
  div {
    border-radius: inherit;
    padding: 5px;
    &:first-child {
      color: $white;
      font-family: "Gaegu", cursive;
      font-size: 23px;
    }
    &:last-child {
      border-top-left-radius: unset;
      border-bottom-left-radius: unset;
      width: 71%;
      text-align: center;
      background-color: $white;
      color: $borderOrange;
      font-size: 17px;
    }
  }
}
.results {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid $borderGrey;
  border-radius: 20px;
  text-align: center;
  background-color: $white;
  font-family: "Gaegu", cursive;
  font-size: 22px;
  p:first-child {
    background-color: $lightYellow;
  }
  p:nth-child(2) {
    background-color: $lightGreen;
  }
  p {
    margin: 8px 15px;
    border-radius: 15px;
    padding: 10px 5px;
    span {
      width: 60px;
      border-bottom: 2px solid $white;
      color: $textBlue;
    }
    span:last-child {
      width: 20px;
    }
  }
}
.paint__controls {
  > div {
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  .color {
    margin: 15px 10px;
    border: 2px solid $black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    &.color--current {
      margin-top: 2px;
      // background-color: $black;
    }
    &.color--white {
      margin-left: 0;
    }
  }
  .paint__buttons {
    width: 100%;
    position: relative;
    button {
      cursor: pointer;
      margin-right: 10px;
      border: 2px solid $darkNavy;
      border-radius: 10px;
      padding: 8px 5px;
      font-size: 16px;
      background-color: $buttonBlue;
      &:last-child {
        position: absolute;
        right: 0;
        border-radius: 5px;
        padding: 5px 20px;
        background-color: #3fa4f6;
      }
    }
  }
}
.paint__feature {
  > div {
    width: 50%;
    margin: 20px 15px 15px;
  }
  .timer {
    border-radius: 15px;
    padding: 8px 15px;
    width: fit-content;
    background-color: $pupleBlue;
    display: flex;
    color: $nameYellow;
    font-size: 18px;
    font-family: "Squada One", cursive;
    div[class] {
      padding: 5px 15px;
      border-radius: 5px;
      background-color: $darkNavy;
    }
    .timer__time {
      margin-right: 5px;
      width: 140px;
      font-family: "Orbitron", sans-serif;
      display: grid;
      grid-template-columns: 40% 10% 50%;
      place-items: flex-end center;
      span {
        margin-bottom: 5px;
        min-width: 20px;
        font-size: 27px;
      }
    }
    .timer__points {
      margin-top: 2px;
      font-size: 16px;
      font-family: "Orbitron", sans-serif;
    }
  }
  .chat-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    color: $white;
    input {
      margin-top: 5px;
      padding: 7px 20px;
      border-radius: 0;
      width: 100%;
    }
  }
}
