.player-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: flex-start;
  align-items: center;
  li:nth-child(even) {
    justify-self: flex-end;
  }
}

.player {
  margin: 20px 50px 0px;
  border-radius: 20px;
  padding: 15px 8px;
  width: 270px;
  height: 160px;
  background-color: $darkNavy;
  display: flex;
  position: relative;
  & > div:not(:last-child) {
    width: 50%;
    height: 100%;
  }
}
.player__avatar {
  margin: 0 2px;
  border: 1px solid $nameYellow;
  width: 50%;
  height: 100%;
  background-color: $pupleBlue;
}
.player__info {
  margin: 0 2px;
  display: flex;
  flex-direction: column;
  & div:not(.player__nickname) {
    border: 1px solid $nameYellow;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .player__nickname div {
    &:first-child {
      padding-top: 2px;
      height: 20px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: $nameYellow;
      font-family: "Gochi Hand", cursive;
      font-size: 18px;
    }
    &.nickname {
      background-color: $pupleBlue;
      color: $darkNavy;
      font-size: 18px;
    }
  }
  .player__grade {
    margin: 4px 0;
    background-color: $blue;
    font-family: "Changa One", cursive;
    font-size: 30px;
    font-weight: bold;
    text-shadow: $white 1px 1px, $white -1px 1px, $white -1px -1px,
      $white 1px -1px;
  }
  .player__score {
    background-color: $navy;
    span {
      color: $nameYellow;
      &:last-child {
        width: 70%;
        text-align: center;
      }
    }
  }
}
.player__chat {
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 290px;
  border: 3px solid $black;
  border-radius: 20px;
  padding: 15px;
  width: fit-content;
  max-width: 200px;
  min-height: 53px;
  height: fit-content;
  background-color: $white;
  font-size: 18px;
  &::before {
    position: absolute;
    top: 14px;
    left: -20px;
    border: 10px solid;
    border-color: $black $black transparent transparent;
    content: " ";
  }
  &::after {
    position: absolute;
    top: 17px;
    left: -14px;
    border: 8px solid;
    border-color: $white $white transparent transparent;
    content: " ";
  }
}
.player--right {
  .player__chat {
    left: unset;
    right: 290px;
    &::before {
      left: unset;
      right: -21px;
      border-color: $black transparent transparent $black;
    }
    &::after {
      left: unset;
      right: -15px;
      border-color: $white transparent transparent $white;
    }
  }
}
