doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title Match Mind
    body.logged-out
        header 
            nav 
                ul 
                    li.logo MatchMind
                    li 
                        button.save-btn í™”ë©´ì €ìž¥
                    li 
                        button.logout ë‚˜ê°€ê¸°
        div
        main
            div.notification.hidden
                p
            div.login-box
                form#loginForm
                    input(type="text" placeholder="What is your name?" required maxLength="8")
            div.game-container
                div.players
                    ul.player-list
                        - for (var i=0; i<8; i++)
                            li 
                                if i % 2 === 0
                                    div.player
                                        div.player__info
                                            div.player__nickname
                                                div Nick Name
                                                div.nickname
                                            div.player__grade
                                            div.player__score
                                                span ì •ë‹µ
                                                span.score
                                        div.player__avatar
                                        div.player__chat.hidden 
                                else 
                                    div.player.player--right
                                        div.player__avatar
                                        div.player__info
                                            div.player__nickname
                                                div Nick Name
                                                div.nickname
                                            div.player__grade
                                            div.player__score
                                                span ì •ë‹µ
                                                span.score
                                        div.player__chat.hidden 
                div.paint 
                    div.paint__answer
                        span#answer.hidden 
                    div.paint__canvas
                        div.paint__word.hidden
                            div ë¬¸ì œ
                            div
                                span#word
                        canvas(width="800" height="480") 
                        div.results.round-results.hidden
                            p ê·¸ë¦¼ì„¤ëª… í•´ì£¼ì‹  #[span#painterName] ë‹˜ #[span#painterPoint.round-results__score] ì 
                            p ì •ë‹µì„ ë§žížˆì‹  #[span#playerName] ë‹˜ #[span#playerPoint.round-results__score] ì 
                            p íšë“í•˜ì…¨ìŠµë‹ˆë‹¤.ðŸ’•
                        div.round-ready.hidden
                            p Round #[span#round]
                            div.results.round-results
                                p #[span#nextPainter] ë‹˜ ì°¨ë¡€ìž…ë‹ˆë‹¤. ê·¸ë¦´ ì¤€ë¹„ë˜ì…¨ì£ ?
                        div.results.rank.hidden
                            p - ê²Œìž„ ê²°ê³¼ -
                            ul 
                                li 
                                    span ë“±ìˆ˜
                                    span ë‹‰ë„¤ìž„
                                    span ì •ë‹µ
                                    span ì ìˆ˜
                                - for (var i=1; i<9; i++)
                                    li 
                                        span #{i}st 
                                        span#rankerName 
                                        span#rankerAnswer 
                                        span#rankerScore 
                    div.paint__controls 
                        div
                            div
                                span COLOR
                                div.color.color--current
                            div.color-picker 
                            div.color.color--black(style="background-color: #031b29;") 
                            div.color.color--white(style="background-color: #f2f2eb;")
                        div.paint__buttons 
                            button#fillBtn ì±„ìš°ê¸°
                            button#eraserBtn ì „ì²´ì§€ìš°ê¸°
                            button#giveupBtn í¬ê¸°
                    div.paint__feature 
                        div 
                            div.timer 
                                div.timer__time
                                    span 0
                                    span :
                                    span 00
                                div 
                                    span POINTS
                                    div.timer__points 0
                        div 
                            form.chat-form
                                label(for="chat") CHATTING &sdot; &sdot;
                                input(type="text" id="chat" maxLength="50")       
        footer
        script.
            window.events = !{events}
        script(src="/socket.io/socket.io.js") 
        script(src="https://cdn.jsdelivr.net/npm/@jaames/iro@5") 
        script(src="/js/main.js") 